@charset "UTF-8";

@media screen and (min-width:  768px) {

  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100vw;
    height: 95vh;
  }

  main {
    width: 80%;
    height: 500px;
  }
  
  .principal {
    width: 80%;
    height: 90%;
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }

  #center {
    display: block;
  }

  .info {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .image {
    width: 40%;
    height: 100%;
    display: block;
    background-position: left center;
    border-radius: 10px 0px 0px 10px;
  }

  h2, p, form {
    margin: auto;
  }

  #submit, #reset {
    width: 200px; 
    margin: 0px, 10px;
  }
}

@media screen and (min-width: 992px) {

  * {
    margin: 0;
    padding: 0;
  }

  .image {
    order: 2;
    border-radius: 0px 10px 10px 0px;
  }
  
}

